<html>
<head>
    <title>
        Tiki - Tốt &amp; Nhanh
    </title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&amp;display=swap" rel="stylesheet" />
    <link href="~/Content/CssDoAn.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="header">
        <a href="https://localhost:44320/Home/index"><img alt="Tiki Logo" height="40" src="~/Hinh/logotiki.png" /></a>        
        <div class="search-container">
            <i class="fas fa-search search-icon"></i>
            <input type="text" placeholder="Giao nhanh 2h">
            <a href="#" class="search-button">Tìm kiếm</a>
        </div>        
        <div class="icons">
            <a style="color:blue" href="#" class="fas fa-home">Trang Chủ
            </a>
            <a style="color: #777777" href="https://localhost:44320/Home/login" class="fas fa-user">Tài Khoản
            </a>
            <a style="color: blue" href="#" class="fas fa-shopping-cart">Giỏ Hàng
            </a>
        </div>
    </div>
    <div class="sidebar">
        <ul>
            <li>
                <a href="#">
                    <img alt="Icon" height="24" src="~/Hinh/iconsidebar 1.png" width="24" />
                    Nhà Sách Tiki
            </li>
            </a>
            <a href="#">
            <li>
                <img alt="Icon" height="24" src="~/Hinh/iconsidebar 1.png" width="24" />
                Nhà Cửa - Đời Sống
            </li>
            </a>
            <a href="#">
            <li>
                <img alt="Icon" height="24" src="~/Hinh/iconsidebar 1.png" width="24" />
                Điện Thoại - Máy Tính Bảng
            </li>
            </a>
            <a href="#">
            <li>
                <img alt="Icon" height="24" src="~/Hinh/iconsidebar 1.png" width="24" />
                Bách Hóa Online
            </li>
            </a>
            <a href="#">
            <li>
                <img alt="Icon" height="24" src="~/Hinh/iconsidebar 1.png" width="24" />
                Thời Trang Nữ
            </li>
            </a>
            <a href="#">
            <li>
                <img alt="Icon" height="24" src="~/Hinh/iconsidebar 1.png" width="24" />
                Thời Trang Nam
            </li>
            </a>
            <a href="#">
            <li>
                <img alt="Icon" height="24" src="~/Hinh/iconsidebar 1.png" width="24" />
                Sức Khỏe - Làm Đẹp
            </li>
            </a>
            <a href="#">
            <li>
                <img alt="Icon" height="24" src="~/Hinh/iconsidebar 1.png" width="24" />
                Thiết Bị Số - Phụ Kiện Số
            </li>
            </a>
            <a href="#">
            <li>
                <img alt="Icon" height="24" src="~/Hinh/iconsidebar 1.png" width="24" />
                Điện Gia Dụng
            </li>
            </a>
            <a href="#">
            <li>
                <img alt="Icon" height="24" src="~/Hinh/iconsidebar 1.png" width="24" />
                Mẹ &amp; Bé
            </li>
            </a>
            <a href="#">
            <li>
                <img alt="Icon" height="24" src="~/Hinh/iconsidebar 1.png" width="24" />
                Làm Đẹp - Sức Khỏe
            </li>
            </a>
            <a href="#">
            <li>
                <img alt="Icon" height="24" src="~/Hinh/iconsidebar 1.png" width="24" />
                Đồ Chơi - Mẹ &amp; Bé
            </li>
            </a>
            <a href="#">
            <li>
                <img alt="Icon" height="24" src="~/Hinh/iconsidebar 1.png" width="24" />
                Thể Thao - Dã Ngoại
            </li>
            </a>
            <a href="#">
            <li>
                <img alt="Icon" height="24" src="~/Hinh/iconsidebar 1.png" width="24" />
                Laptop - Máy Vi Tính - Linh kiện
            </li>
            </a>
            <a href="#">
            <li>
                <img alt="Icon" height="24" src="~/Hinh/iconsidebar 1.png" width="24" />
                Voucher - Dịch Vụ
            </li>
            </a>
        </ul>
    </div>
    <div class="main-content">
        <div class="banner">
            <img alt="Banner 1" height="200" src="~/Hinh/baner1.png" width="600" />
            <img alt="Banner 2" height="200" src="~/Hinh/banner 2.png" width="600" />
        </div>
        <div class="categories">
            <div>
                <img alt="Icon" height="50" src="~/Hinh/icon 1.png" width="50" />
                <p>
                    TOP DEAL
                </p>
            </div>
            <div>
                <img alt="Icon" height="50" src="~/Hinh/icon 2.png" width="50" />
                <p>
                    Siêu sale tháng 10
                </p>
            </div>
            <div>
                <img alt="Icon" height="50" src="~/Hinh/icon 3.png" width="50" />
                <p>
                    Vòng Quay tri ân
                </p>
            </div>
            <div>
                <img alt="Icon" height="50" src="~/Hinh/icon 4.png" width="50" />
                <p>
                    Tiki nhìn lại 14 năm
                </p>
            </div>
            
            <div>
                <img alt="Icon" height="50" src="~/Hinh/icon 5.png" width="50" />
                <p>
                    Mọt sách Tiki
                </p>
            </div>
            <div>
                <img alt="Icon" height="50" src="~/Hinh/icon 6.png" width="50" />
                <p>
                    Cùng mẹ chăm bé
                </p>
            </div>
            <div>
                <img alt="Icon" height="50" src="~/Hinh/icon 8.png" width="50" />
                <p>
                    Siêu sale công nghệ
                </p>
            </div>
            <div>
                <img alt="Icon" height="50" src="~/Hinh/icon 9.png" width="50" />
                <p>
                    Yêu bếp nghiện nhà

                </p>
            </div>
        </div>
        <div class="section">
            <h2>
                TOP DEAL - SIÊU RẺ
            </h2>
            <div class="items">               
                    <div class="item">
                        <a href="#">
                            <div class="discount">
                                -36%
                            </div>
                            <img alt="Product 1" height="200" src="~/Hinh/product 1.png" width="200" />
                            <p>
                                Điện Thoại Samsung Galaxy A52s 128GB
                            </p>
                            <p class="price">
                                10.475.000₫
                            </p>
                            <p class="old-price">
                                16.490.000₫
                            </p>
                        </a>
                    </div>
                
                <div class="item">
                    <div class="discount">
                        -36%
                    </div>
                    <img alt="Product 2" height="200" src="~/Hinh/product 2.png" width="200" />
                    <p>
                        Bình Đun Siêu Tốc 2 Lớp LocknLock
                    </p>
                    <p class="price">
                        601.000₫
                    </p>
                    <p class="old-price">
                        950.000₫
                    </p>
                </div>
                <div class="item">
                    <div class="discount">
                        -36%
                    </div>
                    <img alt="Product 3" height="200" src="~/Hinh/product 3.png" width="200" />
                    <p>
                        Cà phê hòa tan Nescafe 3in1
                    </p>
                    <p class="price">
                        97.700₫
                    </p>
                    <p class="old-price">
                        150.000₫
                    </p>
                </div>
                <div class="item">
                    <div class="discount">
                        -36%
                    </div>
                    <img alt="Product 4" height="200" src="~/Hinh/product 4.png" width="200" />
                    <p>
                        Bàn phím cơ không dây Logitech K120
                    </p>
                    <p class="price">
                        115.000₫
                    </p>
                    <p class="old-price">
                        180.000₫
                    </p>
                </div>
                <div class="item">
                    <div class="discount">
                        -36%
                    </div>
                    <img alt="Product 5" height="200" src="~/Hinh/product 5.png" width="200" />
                    <p>
                        Cuộc cách mạng Glucose
                    </p>
                    <p class="price">
                        101.000₫
                    </p>
                    <p class="old-price">
                        150.000₫
                    </p>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="items">
                <div class="item">
                    <div class="discount">
                        -47%
                    </div>
                    <img alt="Product 6" height="200" src="https://storage.googleapis.com/a1aa/image/Qrx8PVHXJZJlJdwEMXXDW3e7uQdl3ogWpAIzZ3OXlN9Yy1zJA.jpg" width="200" />
                    <p>
                        Máy xay sinh tố
                    </p>
                    <p class="price">
                        259.350₫
                    </p>
                    <p class="old-price">
                        490.000₫
                    </p>
                </div>

                <div class="item">
                    <div class="discount">
                        -31%
                    </div>
                    <img alt="Product 9" height="200" src="https://storage.googleapis.com/a1aa/image/y4hNKwLnKaKRBJGPXguZhnafeid1Rt8zz0zOIWeke0fmnc9cC.jpg" width="200" />
                    <p>
                        Nồi cơm điện
                    </p>
                    <p class="price">
                        152.950₫
                    </p>
                    <p class="old-price">
                        220.000₫
                    </p>
                </div>
                <div class="item">
                    <div class="discount">
                        -31%
                    </div>
                    <img alt="Product 10" height="200" src="https://storage.googleapis.com/a1aa/image/L1WPsb4ouIYZGdlpAQCiieGCNO7bEsRwK1Sf9E3We9spJXPnA.jpg" width="200" />
                    <p>
                        Máy pha cà phê
                    </p>
                    <p class="price">
                        112.000₫
                    </p>
                    <p class="old-price">
                        165.000₫
                    </p>
                </div>
                <div class="item">
                    <div class="discount">
                        -31%
                    </div>
                    <img alt="Product 11" height="200" src="https://storage.googleapis.com/a1aa/image/GG8ZXRUsjt6YOdRYa5aOkdDfqDiviF9wlGfpmo917rN7krnTA.jpg" width="200" />
                    <p>
                        Cuộc cách mạng Glucose
                    </p>
                    <p class="price">
                        2.289.000₫
                    </p>
                    <p class="old-price">
                        3.300.000₫
                    </p>
                </div>
            </div>
            <div class="section">
                <div class="items">
                    <div class="item">
                        <div class="discount">
                            -31%
                        </div>
                        <img alt="Product 11" height="200" src="https://storage.googleapis.com/a1aa/image/GG8ZXRUsjt6YOdRYa5aOkdDfqDiviF9wlGfpmo917rN7krnTA.jpg" width="200" />
                        <p>
                            Cuộc cách mạng Glucose
                        </p>
                        <p class="price">
                            2.289.000₫
                        </p>
                        <p class="old-price">
                            3.300.000₫
                        </p>
                    </div>
                    <div class="item">
                        <div class="discount">
                            -31%
                        </div>
                        <img alt="Product 11" height="200" src="https://storage.googleapis.com/a1aa/image/GG8ZXRUsjt6YOdRYa5aOkdDfqDiviF9wlGfpmo917rN7krnTA.jpg" width="200" />
                        <p>
                            Cuộc cách mạng Glucose
                        </p>
                        <p class="price">
                            2.289.000₫
                        </p>
                        <p class="old-price">
                            3.300.000₫
                        </p>
                    </div>
                    <div class="item">
                        <div class="discount">
                            -31%
                        </div>
                        <img alt="Product 11" height="200" src="https://storage.googleapis.com/a1aa/image/GG8ZXRUsjt6YOdRYa5aOkdDfqDiviF9wlGfpmo917rN7krnTA.jpg" width="200" />
                        <p>
                            Cuộc cách mạng Glucose
                        </p>
                        <p class="price">
                            2.289.000₫
                        </p>
                        <p class="old-price">
                            3.300.000₫
                        </p>
                    </div>
                    <div class="item">
                        <div class="discount">
                            -31%
                        </div>
                        <img alt="Product 11" height="200" src="https://storage.googleapis.com/a1aa/image/GG8ZXRUsjt6YOdRYa5aOkdDfqDiviF9wlGfpmo917rN7krnTA.jpg" width="200" />
                        <p>
                            Cuộc cách mạng Glucose
                        </p>
                        <p class="price">
                            2.289.000₫
                        </p>
                        <p class="old-price">
                            3.300.000₫
                        </p>
                    </div>
                </div> 
            </div>
        </div>
</body>
</html>
